.jumbotron{
    background-color: rgb(21, 63, 237);
    color: black;
    margin-top: 40px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(21, 63, 237);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-cine{
    padding: 0px 5px 2px 0px;
    flex: 1 200px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    color: yellow;
}

.footer-address-icon{
    padding-right: 10px;
}

.footer-address-icon-left{
    padding-left: 3px;
}

.top-right{
 position: absolute;
 top: 100px;
 right: 16px;
}

.tab-content{
    padding-top: 10px;
}

.carousel{
    margin-top: 10px;
    margin-bottom: 10px;
}