@yellow: rgb(226, 226, 38);
@blue: rgb(21, 63, 237);

.margenes(@top,@bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding (@top: 0px,@right: 0px,@bottom: 0px,@left: 0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron{
    background-color: @blue;
    color: black;
    margin-top: 40px;
}

footer{
    background-color: @blue;
    .margenes(10px,0px);
    .padding(10px,10px,0px,10px);
}

.card-cine{
    flex: 1 200px;
    .padding(0px,5px,2px,0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    color: @yellow;
}

.footer-address-icon{
    .padding(0px,10px,0px,0px);
}

.footer-address-icon-left{
    .padding(0px,0px,0px,3px);
}

.top-right{
 position: absolute;
 top: 100px;
 right: 16px;
}

.tab-content{
    .padding(10px,0px,0px,0px);
}

.carousel{
    .margenes(10px,10px);
}