.jumbotron {
  background-color: #153fed;
  color: black;
  margin-top: 40px;
}

footer {
  background-color: #153fed;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.card-cine {
  flex: 1 200px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  color: #e2e226;
}

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.footer-address-icon-left {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
}

.top-right {
  position: absolute;
  top: 100px;
  right: 16px;
}

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.carousel {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
