$yellow: rgb(226, 226, 38);
$blue:   rgb(21, 63, 237);
$green:  rgb(93, 214, 154);
$red: red;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding ($top: 0px,$right: 0px,$bottom: 0px,$left: 0px){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-color: $blue;
    color: black;
    margin-top: 40px;
}

footer{
    background-color: $blue;
    @include margenes(10px,0px);
    @include padding(10px,10px,0px,10px);
}

.card-cine{
    flex: 1 200px;
    @include padding(0px,5px,2px,0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    color: $yellow;
}

.footer-address-icon{
    @include padding(0px,10px,0px,0px);
}

.footer-address-icon-left{
    @include padding(0px,0px,0px,3px);
}

.top-right{
 position: absolute;
 top: 100px;
 right: 16px;
}

.tab-content{
    @include padding(10px,0px,0px,0px);
}

.carousel{
    @include margenes(10px,10px);
}